/* FONT IMPORTS */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700); */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #005ea5;
  --text-color: black;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.calBody {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
}

.calHeader {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  display: block;
  width: 100%;
  /* padding: 1.75em 0; */
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.calHeader #logo {
  font-size: 175%;
  text-align: center;
  color: #005ea5;
  line-height: 1;
}

.calHeader #logo .icon {
  padding-right: 0.25em;
}

.calMain {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.rowMiddle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.colStart {
  justify-content: flex-start;
  text-align: left;
}

.colCenter {
  justify-content: center;
  text-align: center;
}

.colEnd {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
}

.calendar .calHeader {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calHeader .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .calHeader .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: #005ea5;
}

.calendar .calHeader .icon:first-of-type {
  margin-left: 1em;
}

.calendar .calHeader .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calBody .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .calBody .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .calBody .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #005ea5 0%, #005ea5 40%);
  border-image-slice: 1;
}

.calendar .calBody .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .calBody .row:last-child {
  border-bottom: none;
}

.calendar .calBody .cell:last-child {
  border-right: none;
}

.calendar .calBody .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .calBody .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .calBody .disabledBusy {
  color: white;
  background-color: #b10e1e;
  pointer-events: none;
}

.calendar .calBody .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #005ea5;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .calBody .cell:hover .bg,
.calendar .calBody .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .calBody .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
