/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$govuk-global-styles: true;

@import 'node_modules/govuk-frontend/all';

.govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-image: url('../assets/images/govuk-crest.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 125px 102px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  not all,
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .govuk-footer__copyright-logo {
    background-image: url(../assets/images/govuk-crest-2x.png);
  }
}
