body {
  margin: 20px;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  /* display: grid;
  grid-gap: 0.5em; */
  margin: 0 auto;
}

/* nav {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.5em;
  background-color: #efefef;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 1.2rem;
}

.active {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
